<div class="course-card" *ngIf="course" [ngClass]="cardClasses()" #container>
  <!-- [style.text-decoration]="'underline'" -->
  <div class="course-title" [ngStyle]="cardStyles()">
    {{( cardIndex || "") + "-" + course?.description }}
  </div>

  <ng-content select="course-image" *ngIf="course.iconUrl; else noImage"></ng-content>

  <ng-template #noImage>
    <ng-container 
    *ngTemplateOutlet="noImageTpl; context: {description: course.description}">

    </ng-container>
  </ng-template>

  <ng-content select=".course-description"></ng-content>

  <ng-content></ng-content>

  <button (click)="onCourseViewed()">View Course</button>
</div>
